*{
    margin:0;
    padding: 0;
    text-decoration: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgba(255, 254, 254, 0.65); 
}
/*-------------LOG IN------------*/
.box{
    position: relative;
    width: 380px;
    height: 420px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 5px 5px 5px 5px;
    transition: 0.5s;
}
.box::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent,#2b99f3,#2b99f3);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.box::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent,#2b99f3,#2b99f3);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s; 
}
@keyframes animate{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.form{
    position: absolute;
    inset: 2px;
    border-radius: 8px;
    background: white;
    z-index:10;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
}
.form h2{
    position: absolute;
    top: 10px;
    padding-left: 85px;
    color: #2b99f3;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    transition: 1s;
}
.inputBox{
    position: relative;
    width: 300px;
    margin-top: 35px;
    transition: .5s;
}
.inputBox input{
    background: transparent;
    position: relative;
    width: 100%;
    padding: 15px 10px 10px;
    border: none;
    outline: none;
    color: #f1f1f1;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 0.05em;
    z-index: 1;
}
.inputBox span{
    position: absolute;
    display: flex;
    align-items: center;
    top:5px;
    padding: 10px 10px 10px;
    font-size: 1em;
    font-weight: 575;
    color: black;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
span i{
    font-size: 1.3em;
    margin-right: 5px;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span{
    color: #2b99f3;
    transform: translateX(-10px) translateY(-40px);
    font-size: 0.75em;
    font-weight: 600;
}
.inputBox .line{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #2b99f3;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
}
.inputBox input:valid ~ .line,
.inputBox input:focus ~ .line{
    height: 50px;
}
.links{
    display: flex;
    justify-content: space-between;
}
.links a{
    margin: 20px 0;
    font-size: 0.75em;
    text-decoration: none;
}
.signup{
    text-transform: uppercase;
    font-weight:bold;
    letter-spacing : 0.05em
}
.links a:hover , .links a:nth-child(2){
    color:#2b99f3;
}
input[type=submit]
{
    position: relative;
    border: none;
    outline: none;
    color: white;
    font-size: 1.1em;
    background: linear-gradient(1deg,transparent,#2b99f3,#2b99f3,#2b99f3);
    font-weight: 700;
    padding: 11px 25px;
    width: 80%;
    margin: auto; 
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
}
input[type=submit]:active{
    opacity: 0.7;
}
@media screen and (max-width: 500px){
    .form h2{
        font-size: 1.5em;
    }
    .inputBox{
        width:250px;
        display: flex;
        margin: auto;
    }
    .inputBox span{
        font-size: 0.8em;
    }
    input[type=submit]{
        font-size: 1em;
        position: relative;
        width: 50%;
    }

}
@media screen and (max-width: 350px){
    .form h2{
        font-size: 1.2em;
        left: 3px;
    }
    .inputBox{
        width:170px;
        display: flex;
        margin: auto;
    }
    .inputBox span{
        font-size: 0.6em;
    }
    input[type=submit]{
        font-size: 0.6em;
        position: relative;
        width: 40%;
    }

}
/*-----------------SIGN IN----------------*/
.box-signin{
    position: relative;
    width: 480px;
    height: 600px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 5px 5px 5px 5px;
}
.box-signin::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 480px;
    height: 600px;
    background: linear-gradient(0deg, transparent,#2b99f3,#2b99f3);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.box-signin::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 480px;
    height: 600px;
    background: linear-gradient(0deg, transparent,#2b99f3,#2b99f3);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s; 
}
@keyframes animate{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.form-signin{
    position: absolute;
    inset: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    background: white;
    z-index:10;
    padding: 20px 40px;
}
.form-signin h2{
    color: #2b99f3;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    transition: 1s;
}
input [type=submit]{
    position: relative;
    border: none;
    outline: none;
    color: white;
    font-size: 1.1em;
    background: linear-gradient(1deg,transparent,#2b99f3,#2b99f3,#2b99f3);
    font-weight: 700;
    padding: 10px 30px;
    width: 80%;
    margin: auto; 
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5;
}
input [type=submit]:active{
    opacity: 0.7;
}
@media screen and (max-width: 500px){
    .form-signin h2{
        font-size: 1.5em;
    }

}
@media screen and (max-width: 350px){
    .form-signin h2{
        font-size: 1.2em;
    }

}