html, body{
    margin: 0;
    padding: 0;
    outline: 0px;
    height: 100%;
}
header{
    background: #6fa939;
    background: rgb(78, 24, 129);
    background: #6fa939;
    padding: 15px;
    height: 30px;
    border-bottom: 1px solid #fff;
    text-align: right;
    position: fixed;
    overflow: hidden;
    width: 100%;
    top: 0;
}
section{
    margin-top: 60px;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li{
    display: inline;
    margin: 35px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}
nav, nav+form{
    display: inline-block;
    margin-left: 20px;
}
nav+form{
    margin-right: 30px;
}
#tab{
    float: left;
    width: 20%;
    background-color: #f1f1f1;
    height: 100%;
    padding: 10px;
    border-right: 2px solid #fff;
    position: fixed;
}
#comment{
    border-radius: 10px;
    border: none;
    color: white;
    background-color: rgba(53, 53, 92, 0.452);
    background-color: #8c7851;
    background-color: rgba(53, 53, 92, 0.452);
    padding: 10px 10px;
    width: 80px;
    height: 70px;
}
#tab ul li{
    margin: 10px;
}
h3{
    color: rgb(136, 20, 20);
}
#actuality{
    width: 100%;
    width: 80%;
    margin-left: 20%;
    width: 100%;
}
#opinion{
    text-align: left;
    padding-top: 10px;
    background: #f1f1f1;
}
#opinion a{
    text-decoration: none;
    padding: 5px 10px;
    color: #f1f1f1;
    background-color: rgb(53, 53, 92);
    background-color: #8c7851;
    background-color: rgb(53, 53, 92);
    border-radius: 10px;
}
#pdp{
    width: 75px;
    height: 75px;
    border-radius: 50px;
    margin-left: 20px;
    border: 2px solid #fff;
}
#pdp,#question,#comment{
    display: inline-block;
    vertical-align: top;
}
#textarea{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    resize: none;
}
#link{
    margin-left: 110px;
}
#content{
    margin-left: 30px;
}
#post{
    width : 60%;
    margin-left: 30px;
    font-size: 1em;
    text-align: justify;
    border: 1px solid #f1f1f1;
    border-radius:  20px;
    color: #000;
    font-size: italic;
    padding: 5px;
}
#emoticone{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    position: relative;
    top: 6px;
    margin: 0px 5px;
}
#code{
    border: none;
    color: white;
    background-color: #8c7851;
    padding: 10px;
    float: right;
    margin-right: 70px;
    position: relative;
    top: -50px;
}
#showCode{
    width : 80%;
    margin-left : 50px;
    font-size: 1em;
    text-align: justify;
    border: 1px solid #f1f1f1;
    border-left: 3px solid rgb(28, 28, 77);
    border-radius:  0 10px 10px 0;
    color: #8c7851;
    font-size: italic;
    padding: 5px;
    position: relative;
    top: -50px;
}
#follow{
    border: none;
    color: white;
    background-color: #8c7851;
    padding: 5px;
    float: right;
    position: absolute;
    right: 120px;
    margin-top: -15px;
}
#answer{
    border: none;
    color: white;
    background-color: #8c7851;
    padding: 5px;
    position: absolute;
    right: 180px;
    margin-top: -15px;
}
